.lista {
	display: flex;
	margin-top: 20px;
}

.lista li {
	display: grid;
	justify-content: center;
	margin: 10px;
	list-style: none;
	font-size: calc(0.7vw + 0.6vh);
}

.lista li a {
	color: #000;
}

.form_Buscar {
	width: 60%;
	height: 5vh;
	margin-top: 30px;
	outline: none;
}

.form_Buscar input {
	outline: none;
	height: 10vh;
}

.section_carrito {
	display: flex;
	color: #000;
}

.section_carrito img {
	max-width: 60px;
}
/*section de la lista*/
