.container_header {
	background: #ececec;
	font-size: 0px;
	max-height: 15vh;
	max-width: 100%;
	text-decoration: none;
}

.container_header a {
	text-decoration: none;
}
.mark {
	background: #01d3b6;
	color: #000;
	/*height: 50px;*/
	/*height: 10%;*/
}
.containeres {
	background: #01d3b6;
}

.boton {
	display: grid;
	background: #000;
	border-radius: 20px;
	color: #fff;
	font-size: 12px;
	border: none;
	cursor: pointer;
	outline: none;
}
